@function assetUrl ($url) {
    // @ts-ignore
    $publicPath: __webpack_public_path__;
    $publicPathSuffix: if(publicPath.endsWith('/'), '', '/');
    $urlPrefix: if(url.startsWith('/'), '', '/');

    @return $publicPath+#{$publicPathSuffix}+#{assets}+#{$urlPrefix}+#{$url};
}